#docs{
   position:relative;
   overflow:scroll;
  padding-left:0.25in;
  padding-right:0.25in;
   background-color:white;
   visibility: visible;
}


h1.doc{
  color:black;
  text-align:left;
} 

h3.doc{
  font-style:italic;}
