body{
    
    background-color: #474d7b;
}
.container{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    display: block;
}

.col-md-12{
    padding-right: 0;
    padding-left: 0;
}

div#contentRow{
    margin: 15px;
    height: 700px;
}

.datascroll{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 700px;
	}